@font-face {
    font-family: Caribbean;
    src: url("/assets/fonts/Caribbean.ttf");
}
* {
    box-sizing: border-box;
    transition: 0.3s;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}
.game-ui { color: #fff; }
.t-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.glowing {
    border-radius: 5px;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.glow-gold-plus {
  color: #fff;
  -webkit-animation: glow-gold-plus 1s ease-in-out 3 alternate;
  -moz-animation: glow-gold-plus 1s ease-in-out 3 alternate;
  animation: glow-gold-plus 1s ease-in-out 3 alternate;
}

@keyframes glow-gold-plus {
  from {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #f0ad4e,
                 0 0 20px #f0ad4e,
                 0 0 30px #f0ad4e,
                 0 0 70px #f0ad4e,
                 0 0 30px #f0ad4e,
                 0 0 20px #f0ad4e,
                 0 0 10px #f0ad4e,
                 0 0 5px #f0ad4e;
  }

  to {
    text-shadow:
    0 0 0px #f0ad4e;

  }
}

.glow-gold-minus {
  color: #fff;
  -webkit-animation: glow-gold-minus 1s ease-in-out 3 alternate;
  -moz-animation: glow-gold-minus 1s ease-in-out 3 alternate;
  animation: glow-gold-minus 1s ease-in-out 3 alternate;
}

@keyframes glow-gold-minus {
  from {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #f0ad4e,
                 0 0 20px #d9534f,
                 0 0 30px #d9534f,
                 0 0 70px #d9534f,
                 0 0 30px #d9534f,
                 0 0 20px #d9534f,
                 0 0 10px #d9534f,
                 0 0 5px #d9534f;
  }

  to {
    text-shadow:
    0 0 0px #d9534f;

  }
}

/* CSS for tooltips */
[data-tooltip] {
    position: relative;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
    z-index: 10;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(59, 72, 80, 0.9);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s; /* If the mouse leaves the element,
                              the transition effects for the
                              tooltip arrow are "turned off" */
    transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.1s;
    transform: translate(-50%, -5px) scale(1);
}
/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
    transition-delay: 0.1s; /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
    left: auto;
    right: calc(100% + 5px);
    bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
}



/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
    left: calc(100% + 5px);
    bottom: 50%;
}

[data-tooltip-location="right"]:before {
    transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
    transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
    border-width: 5px 5px 5px 0px;
    border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
    transform-origin: right;
    transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
    transform: translateY(50%) scaleX(1);
}


/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(100% + 5px);
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
    transform-origin: bottom;
}
/* Tooltip END */

/* Changelog classes */
.changelog-box {
    width: 33%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.changelog-title {
    font-weight: bold;
    color: #2b2d2f;
    opacity: .8;
    margin-bottom: 0;
}

.changelog-div {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 558px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}

.changelog-div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.changelog-article {
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgba(55, 64, 70, 0.2);
    border-radius: 10px 10px 10px 10px;
}

.patch-title {
    font-weight: bold;
    color: #0074d9;
    padding-top: 15px;
}

.patch-content {
    padding-bottom: 5px;
}

.patch-content-list {
    padding-inline-end: 30px;
    display: block;
    text-align: left;
    font-size: .95rem;
}

/* CHANGELOG END - TOGGLE BUTTON START*/
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: #d6d6d6;
    overflow: hidden;
}

.toggle-inner {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 22px;
    width: 46px;
    border-radius: 15px;
    overflow: hidden;
}

.active-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background: #d9534f;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.05s linear 0.17s;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: white;
    border-radius: 13px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .active-bg {
    transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked ~ .toggle-inner .indicator {
    transform: translate3d(25%, 0, 0);
}

.lock-text-info {
    color: #5bc0de !important
}

.lock-text-error {
    color: #d9534f !important
}
/* TOGGLE BUTTON END */

.main-menu-div {
    margin-left: auto;
    margin-right: auto;
}
/* Changelog END */

/* Wall of fame */
.wall-of-fame-div {
    width: 33%;
    float:left;
    padding-right: 15px;
    padding-left: 15px;
}

#wall-of-fame-table-div {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 558px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}

#wall-of-fame-table {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}
#wall-of-fame-table th {
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}
#wall-of-fame-table td {
    padding: 5px;
    text-align: center;
}
#wall-of-fame-table .rank {
    font-weight: 900;
}
#wall-of-fame-table .top-1 {
    font-weight: 900;
    color: #FF5722;
}
#wall-of-fame-table .top-2-3 {
    font-weight: 600;
    color: #FF5722;
}
#wall-of-fame-table, th, td {

    border-collapse: collapse;
    opacity: .8;
}
/* Wall of fame END */

/* Clan Management START */
#clan-table-div {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 225px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}
.clan-table {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}
.clan-table th {
    padding: 7px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    border-collapse: collapse;
    opacity: .8;
}
.clan-table td {
    text-align: center;
    border-collapse: collapse;
    opacity: .8;
}
.clan-button {
    margin: 3px;
    padding: 7px;
}
/* Clan Management END */

.text-mod-color {
    color: #bb15eb!important;
}
a.text-mod-color:focus,
a.text-mod-color:hover {
    color: #761e8f!important;
}
.text-clan-color {
    color: #ff9800!important;
}


/* Loading wheel */
.wheel {
    animation: 3s linear 0s normal none infinite running wheel;
    -webkit-animation: 3s linear 0s normal none infinite running wheel;
    width: 150px;
}
@keyframes wheel {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes wheel {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* Game UI */
.game-ui {
    display: flex;
    justify-content: center;
}
.krew-info, .top-ui, .leaderboard, .chat-menu, .experience-bar, .map {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: absolute;
    padding: 8px;
}
canvas#game-canvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Krew Stats */
.krew-info {
    width: 300px;
    top: 5px;
    left: 5px;
}
.krew-info .ship-name {
    color: #fff;
    width: 75%;
}
.krew-stats { display: flex; }
.krew-stats > * {
    justify-content: space-evenly;
    width: 22.5%;
}

/* Top UI */
.top-ui {
    top: -5px;
    padding: 8px 2.5px;
    border-radius: 5px;
    height: 45px;
    text-align: center;
    z-index: 1072;
}
.top-ui ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.top-ui li {
    margin: 0px 2.5px;
    line-height: 1.0;
    padding: .2rem .3rem;
    font-size: 22px;
}
.gold-indicator {
    display: flex;
    margin: 0px 5px;
    align-items: center;
    justify-content: center;
}
.gold-indicator img { height: 20px; }
.current-gold {
    margin-left: 2%;
    font-size: 1.5rem;
}

/* Leaderboard */
.leaderboard {
    width: 320px;
    max-height: 350px;
    top: 5px;
    right: 5px;
    color: #fff;
}
.lb-logo {
    width: 100%;
    background-image: url("/assets/img/logoleaderboard.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.leaderboard table { width: 100%; }
.leaderboard thead { border-bottom: 1px solid #fff; }
.medal {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.medal-bronze { background-image: url("/assets/img/medal_bronze.png");}
.medal-silver { background-image: url("/assets/img/medal_silver.png");}
.medal-gold { background-image: url("/assets/img/medal_gold.png");}

/* Gold Drop Indicator */
.gold-indicator {
    bottom: 270px;
    left: 5px;
    min-width: 175px;
    max-width: 250px;
    color: #f1da0b;
    font-size: 1rem;
}
.gold-animation { display: none; }

/* Chat Menu */
.chat-menu {
    width: 300px;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    color: #fff;
}
.chat-menu a:not(.active) { color: #fff; }
.chat-history {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    word-wrap: break-word;
    max-height: 425px;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat-history span {
    width: 100%;
    font-size: 0.75rem;
}
#chat-input {
    width: 100%;
    padding: 5px;
}
.chat-buttons { margin-top: 5px; }

/* Show Chat Button */
.show-chat {
    bottom: 5px;
    left: 5px;
}

/* Experience Bar */
.experience-bar {
    width: 500px;
    bottom: 5px;
}
.point-container, .point-name-container {
    display: flex;
    justify-content: space-evenly;
}
.exp-progress-bar {
    margin-top: 8px;
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 25px;
}
.exp-progress-bar-inner {
    width: 75%;
    background: #fff;
    height: 100%;
}
.exp-level {
    width: 95%;
    position: absolute;
    bottom: 8px;
    text-align: center;
    color: #000;
}

/* Map */
.map {
    width: 250px;
    height: 250px;
    bottom: 5px;
    right: 5px;
}
.map canvas {
    width: 100%;
    height: 100%;
}

/* Modals */
.settings-menu {
    top: 105px;
    height: 400px;
    width: 600px;
}
.shop-menu {
    top: 5px;
    right: 325px;
    height: 475px;
    width: 900px;
}
.krew-list {
    top: 5px;
    right: 325px;
    height: 400px;
    width: 700px;
}
