<!DOCTYPE html>
<html>
    <head>
        <title>Krew.io</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta name="title" content="Krew 2">
        <meta name="description" content="Krew.io, reimagined.">

        <meta property="og:title" content="Krew 2">
        <meta property="og:description" content="Krew.io, reimagined.">

        <!-- Libraries -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/three.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/icofont.min.css">
        <script src="/assets/js/bootstrap.min.js"></script>

        <!-- Gamestyles & JS -->
        <link rel="stylesheet" href="/assets/css/game.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">

        <!-- Icon -->
        <link rel="icon" href="/favicon.ico" sizes="16x16">

        <script src="/assets/js/socket.io.js"></script>
        <script src="/assets/js/dist.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.js"></script>
    
        <!-- Audio -->
        <!-- <audio id="wheelspin" src="https://cdn.krew.io/assets/audio/Wheel Spin.wav"></audio>
        <audio id="cannon" src="https://cdn.krew.io/assets/audio/Cannon.wav"></audio>
        <audio id="cannon-hit" src="https://cdn.krew.io/assets/audio/Cannonball Hit.wav"></audio>
        <audio id="cast-rod" src="https://cdn.krew.io/assets/audio/Cast Rod.wav"></audio>
        <audio id="catch-crab" src="https://cdn.krew.io/assets/audio/Catch Crab.wav"></audio>
        <audio id="catch-fish" src="https://cdn.krew.io/assets/audio/Catch Fish.wav"></audio>
        <audio id="dock" src="https://cdn.krew.io/assets/audio/Dock.wav"></audio>
        <audio id="fishing" src="https://cdn.krew.io/assets/audio/Fishing.wav"></audio>
        <audio id="get-crate" src="https://cdn.krew.io/assets/audio/Get Crate.wav"></audio>
        <audio id="deposit" src="https://cdn.krew.io/assets/audio/Deposit Money.wav"></audio>
        <audio id="level-up" src="https://cdn.krew.io/assets/audio/Level Up.wav"></audio>
        <audio id="island-music" src="https://cdn.krew.io/assets/audio/music - non ocean area loop.wav"></audio>
        <audio id="ocean-music" src="https://cdn.krew.io/assets/audio/music - ocean area loop.wav"></audio>
        <audio id="ocean-ambience" src="https://cdn.krew.io/assets/audio/Ocean Ambience Loop.wav"></audio>
        <audio id="sail" src="https://cdn.krew.io/assets/audio/Sail.wav"></audio>
        <audio id="select" src="https://cdn.krew.io/assets/audio/Select.wav"></audio>
        <audio id="sink-crash" src="https://cdn.krew.io/assets/audio/Sink Crash.wav"></audio>
        <audio id="step-sand01" src="https://cdn.krew.io/assets/audio/Step_Sand_01.wav"></audio>
        <audio id="step-sand02" src="https://cdn.krew.io/assets/audio/Step_Sand_02.wav"></audio>
        <audio id="step-wood01" src="https://cdn.krew.io/assets/audio/Step_Wood_01.wav"></audio>
        <audio id="step-wood02" src="https://cdn.krew.io/assets/audio/Step_Wood_02.wav"></audio>
        <audio id="switch-rod-cannon" src="https://cdn.krew.io/assets/audio/Switch Rod Cannon.wav"></audio>
        <audio id="turning" src="https://cdn.krew.io/assets/audio/Turning.wav"></audio> -->
    </head>
    <body>
        <div class="app">
            <div class="loading-splash">
                
            </div>
            <div id="loading-wheel">
                <img src="/assets/img/wheel.png" style="margin-top:10%" class="wheel">
                <div style="font-family:caribbean; font-size:20px;">Loading...</div>
            </div>
            <div id="spyglass" style="display:none">
                <img src="/assets/img/spyglass_ocular.png" style="width: 100%; height: 100; position: absolute;">
            </div>
            <div class="game-ui">
                <!-- Krew Info -->
                <div class="krew-info">
                    <div class="btn btn-secondary btn-sm float-sm-right toggle-settings-btn"><i class="icofont icofont-options"></i></div>
                    <span class="ship-name">[S.S.] Vesper</span>
                    <div class="krew-stats">
                        <div class="text-danger">
                            <i class="icofont icofont-heart"></i>
                            <span class="ship-health">0 / 0</span>
                        </div>
                        <div class="text-primary">
                            <i class="icofont icofont-people"></i>
                            <span class="ship-krew">0 / 0</span>
                        </div>
                        <div class="text-warning">
                            <i class="icofont icofont-cube"></i>
                            <span class="ship-cargo">0 / 0</span>
                        </div>
                    </div>
                    <div class="krew-buttons">
                        <span class="btn btn-sm btn-success exit-island-btn" data-tooltip="Depart to sea with your ship" data-tooltip-location="right"><i class="icofont icofont-ship-wheel"></i> Sail</span>
                        <span class="btn btn-sm btn-primary invite-link-btn" data-tooltip="Invite friends to your krew" data-tooltip-location="bottom"><i class="icofont icofont-link"></i> Invite</span>
                        <span class="btn btn-sm btn-warning abandon-ship-btn" data-tooltip="Abandon the ship" data-tooltip-location="bottom"><i class="icofont icofont-anchor"></i> Abandon Ship</span>
                    </div>
                </div>

                <!-- Top Menu -->
                <div class="top-ui">
                    <ul>
                        <li class="btn btn-secondary disabled toggle-shop-menu-btn" data-tooltip="Buy ships, items, and goods" data-tooltip-location="bottom"><i class="icofont icofont-shopping-cart"></i></li>
                        <li class="btn btn-secondary disabled toggle-krew-list-btn" data-tooltip="Join a krew" data-tooltip-location="bottom"><i class="icofont icofont-people"></i></li>
                        <li class="btn btn-secondary disabled toggle-bank-menu-btn" data-tooltip="Bank is available at Labrador" data-tooltip-location="bottom"><i class="icofont icofont-bank"></i></li>
                        <li class="gold-indicator">
                            <img src="./assets/img/gold.png" alt="Gold image">
                            <span class="text-warning current-gold">5000</span>
                        </li>
                        <li class="btn btn-secondary disabled toggle-shop-menu-btn" data-tooltip="Hide / show the map" data-tooltip-location="bottom"><i class="icofont icofont-ui-map"></i></li>
                        <li class="btn btn-secondary disabled toggle-krew-list-btn" data-tooltip="Show player and krew quests" data-tooltip-location="bottom"><i class="icofont icofont-book"></i></li>
                        <li class="btn btn-secondary disabled toggle-bank-menu-btn" data-tooltip="Show hotkeys" data-tooltip-location="bottom"><i class="icofont icofont-question"></i></li>
                    </ul>
                </div>

                <!-- Leaderboard -->
                <div class="leaderboard">
                    <div class="lb-logo">&nbsp;</div>
                    <table>
                        <thead>
                            <tr>
                                <th>Clan</th>
                                <th>Krew</th>
                                <th class="float-sm-right">0 boats</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-success">
                                <td>[S.S.]</td>
                                <td>Vesper
                                </td>
                                <td class="float-sm-right">5000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Chat Menu -->
                <div class="chat-menu">
                    <div class="chat-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="#" class="nav-link" id="toggle-clan-chat">Staff</a></li>
                            <li class="nav-item"><a href="#" class="nav-link" id="toggle-clan-chat">Clan</a></li>
                            <li class="nav-item"><a href="#" class="nav-link" id="toggle-local-chat">Local</a></li>
                            <li class="nav-item"><a href="#" class="nav-link active" id="toggle-global-chat">Global</a></li>
                        </ul>
                    </div>
                    <div class="chat-history"></div>
                    <label for="chat-input" class="t-hidden">Enter chat message</label>
                    <input type="text" id="chat-input" maxlength="32" placeholder="Enter chat message">
                    <div class="chat-buttons">
                        <div class="btn btn-sm btn-primary">Hide Chat</div>
                        <a href="https://discord.krew.io" class="btn btn-sm btn-success" target="_window">Discord</a>
                        <a href="https://krew-io.fandom.com/wiki/Krew.io_Wiki" class="btn btn-sm btn-warning" target="_window">Wiki</a>
                    </div>
                </div>

                <!-- Experience Bar -->
                <div class="experience-bar">
                    <div class="point-container">
                        <div class="exp-firepower">
                            <i class="icofont icofont-clock-time"></i>
                            <span>0</span>
                        </div>
                        <div class="exp-distance">
                            <i class="icofont icofont-dart"></i>
                            <span>0</span>
                        </div>
                        <div class="exp-damage">
                            <i class="icofont-fire-alt"></i>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="point-name-container">
                        <span>Reload</span>
                        <span>Distance</span>
                        <span>Damage</span>
                    </div>
                    <div class="exp-progress-bar"><div class="exp-progress-bar-inner"></div></div>
                    <div class="exp-level">Level 420</div>
                </div>

                <!-- Map -->
                <div class="map">
                    <canvas class="krew-map" id="krew-map"></canvas>
                </div>

                <!-- Menu Modals -->
                <div class="settings-menu modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Krew Settings</h4>
                            <button class="btn btn-secondary btn-sm float-right toggle-settings-btn"><i class="icofont icofont-ui-close"></i></button>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="#" class="nav-link active" id="ship-status">Ship Status</a></li>
                                <li class="nav-item"><a href="#" class="nav-link" id="clan-management">Clan Management</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shop-menu modal">
                    <div class="island div">
                        <div class="modal-header">
                            <h4 class="modal-title">Welcome to the shop of <span class="port-name">Spain</span>!</h4>
                            <button class="btn btn-secondary float-right btn-sm toggle-shop-btn"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" id="buy-items"><a href="#" class="nav-link btn-shop-menu">Items</a></li>
                                <li class="nav-item" id="buy-ships"><a href="#" class="nav-link btn-shop-menu">Ships</a></li>
                                <li class="nav-item" id="buy-goods"><a href="#" class="nav-link btn-shop-menu">Goods</a></li>
                            </ul>
                            <div class="shop-menu-note">
                                <!-- 
                                    Note: Upgrades do not stack and will be lost upon death!
                                    Note: If you purchase a ship, you will abandon your existing krew!
                                    No note for goods.
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="krew-list modal">
                    <div class="modal-header">
                        <h4 class="modal-title">Krews docked at <span class="port-name"></span>:</h4>
                        <div class="btn btn-secondary btn-sm float-right toggle-krew-list-btn"><i class="icofont icofont-ui-close"></i></div>
                    </div>
                    <div class="modal-body">
                        <table>
                            <thead>
                                <tr>Clan</tr>
                                <tr>Name</tr>
                                <tr>Departure Time</tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="bank-menu modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Welcome to the Bank at Labrador!</h4>
                            <div class="btn btn-secondary btn-sm float-right toggle-bank-menu-btn"><i class="icofont icofont-ui-close"></i></div>
                        </div>
                    </div>
                </div>

                <!-- Other Modals -->
                <div class="game-over-menu modal">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <h1>Game Over</h1>
                            <h6>Score: <span class="stats-score"></span></h6>
                            <h6>Supplies collected: <span class="stats-score"></span></h6>
                            <h6>Damage dealt: <span class="stats-score"></span></h6>
                            <h6>Shots (Accuracy): <span class="stats-shot-accuracy"></span> shots fired (<span class="stats-shot-accuracy"></span>% accuracy)</h6>
                            <h6>Ships sank: <span class="stats-ships-sank"></span></h6>
                        </div>
                        <button class="btn btn-primary respawn-btn">Respawn with <span class="remaining-supplies"></span> supplies.</button>
                    </div>
                </div>
                <div class="docking-modal absolute-center initial" style="display: none;">
                    <div class="btn btn-primary disabled btn-lg dock-btn">Countdown...</div>
                    <div class="btn btn-success btn-lg cancel-dock-btn">Sail (c)</div>
                </div>
                <div class="departure-modal absolute-center" style="display: none;">
                    <div class="btn btn-primary disabled btn-lg"><i class="icofont icofont-ship-wheel"></i> Departing in <span class="departure-timer">25</span> seconds.</div>
                </div>
            </div>
        </div>
    </body>
</html>